# Python Environment
venv/
.venv/
env/
bin/
include/
lib/
share/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model Artifacts
models/*.pth
models/*.pt
models/*.onnx

# Local Data Storage
# data/
results/*.png
results/*.pdf

# IDE & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit Configuration
.streamlit/